[MAIN]
# Add paths to the list of the source roots so that we can import from kso_utils
source-roots=src
ignore = kso_utils

# Set the output format so it is easy to read
output-format=colorized

# Do not check any files in the directories listed here below
# ignore-paths=

[CHECKER]
# List of members which are set dynamically and missed by pylint inference
# system, and so shouldn't trigger E1101 (no-member) when accessed. Python regular
# expressions are accepted. 
# Normally one would do this in MAIN with extension-pkg-whitelist=cv2, but this did not work
# See: https://pylint.pycqa.org/en/latest/user_guide/messages/error/no-member.html
generated-members = cv2.*,torch.*

[LOGGING]
# The type of string formatting that logging methods do. `old` means using %
# formatting, `new` is for `{}` formatting.
logging-format-style=new

[MESSAGES CONTROL]
# For now we only want to see the errors (F and E), next step would be to turn on W
disable=C,R,W
errors-only=yes #To not get a grade for code, remove this when W is turned on
