# pip install -r requirements.txt

# base ----------------------------------------
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.2
opencv-contrib-python
-e git+https://github.com/zooniverse/panoptes-python-client.git#egg=panoptes_client
Pillow==9.0.1
PyYAML>=5.3.1
scipy>=1.4.1
#torch>=1.7.0,<1.11.0
#torchvision>=0.8.1
tqdm>=4.41.0
jupyter==1.0.0
PIMS @ git+https://github.com/soft-matter/pims.git#egg=PIMS	
av==8.1.0
fastapi==0.73.0
uvicorn==0.17.2
streamlit==1.5.0
protobuf==4.21.4
python-multipart==0.0.5
boto3==1.21.27
ffmpeg-python==0.2.0
natsort==8.1.0
easydict==1.9.0
moviepy==1.0.3

# logging -------------------------------------
tensorboard>=2.4.1
wandb==0.11.0

# plotting ------------------------------------
seaborn>=0.11.0
pandas==1.1.4

# export --------------------------------------
# coremltools>=4.1
# onnx>=1.9.0
# scikit-learn==0.19.2  # for coreml quantization

# extras -------------------------------------
# Cython  # for pycocotools https://github.com/cocodataset/cocoapi/issues/172
# pycocotools>=2.0  # COCO mAP
thop  # FLOPs computation

#tutorial extras
ipyfilechooser==0.4.4
gdown==3.13.0
itables==0.3.0
scp==0.14.1
dataclass-csv==1.4.0
# getpass

