av
boto3
ffmpeg-python
ftfy
folium
gdown
jupyter_bbox_widget
imagesize
ipyfilechooser
ipywidgets
natsort
notebook
numpy
pandas
panoptes-client
PIMS
tqdm
ultralytics==8.3.166
wandb==0.21.0
yolov5==7.0.14
scikit-learn
# For tests in CI
pylint
nbqa
pytest
# The following packages are specified further
# in a platform-specific requirements file
torch==2.8.0
torchvision==0.23.0
