av==15.0.0
boto3==1.39.4
ffmpeg-python==0.2.0
ftfy==6.3.1
folium==0.20.0
gdown==5.2.0
jupyter_bbox_widget==0.6.0
imagesize==1.4.1
ipyfilechooser==0.6.0
ipywidgets==8.1.7
natsort==8.4.0
notebook==7.4.4
numpy==2.2.6
pandas==2.3.1
panoptes-client==1.7.1
PIMS==0.7
tqdm==4.67.1
ultralytics==8.3.166
wandb==0.21.0
yolov5==7.0.14
scikit-learn==1.7.2
# For tests in CI
pylint==3.3.8
nbqa==1.9.1
pytest==8.4.2
# The following packages are specified further
# in a platform-specific requirements file
torch==2.8.0
torchvision==0.23.0
