name: Build and Publish

on:
  # run it on push to the default repository branch
  push:
    branches: [master, dev]
  # run it during pull request
  pull_request:

jobs:
  # define job to build and publish docker image
  build-and-push-docker-image:
    name: Build Docker image and push to repositories
    # run only when code is compiling and tests are passing
    runs-on: ubuntu-latest

    # steps to perform in job
    steps:
      - name: Free disk space (specific to ubuntu-20.04 images)
        run: |
          sudo rm -rf /usr/share/dotnet || true
          sudo rm -rf "$AGENT_TOOLSDIRECTORY" || true
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: true

      # setup Docker build action
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
 
      - name: Build image and push to Docker Hub and GitHub Container Registry
        uses: docker/build-push-action@v3
        with:
          # relative path to the place where source code with Dockerfile is located
          context: .
          tags: ${{ github.ref == 'refs/heads/master' && 'jannesg/koster-yolov4:latest' || 'jannesg/koster-yolov4:PR' }}
          # build on feature branches, push only on master branch or pull request
          push: ${{ github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/pull/') }}  # Push for master branch and pull requests
          

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
